body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
<<<<<<< Updated upstream
=======
.p-carousel-dot-icon {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('./fonts/Lato-Regular.ttf') format('truetype');
}
>>>>>>> Stashed changes

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
